body{
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    gap: 1px;
    background-color: black;
    position: fixed;
    height: 3cm;
    margin-top: 0cm;
    padding: 0%;
    width: 100%;
    color: goldenrod;
}
.section0{
    width: 20%;
    text-align: center;
    font-size: 18px;
}
section{
    min-height: 100%;
    width: 100%;
    padding: 120px 0px 0px 0px;
}
h1{
    padding: 5px 8px;
}
.navigation{
    font-size: 15px;
}
.section1{
    display: grid;
    width: 80%;
    float: right;
    font-size: 15px;
}
.create1{
    width: 80%;
    display: grid;
    gap: 10px;
    min-height: 80%;
}
.v-botton{
    border-radius: 20px;
    height: 1cm;
    width: 3cm;
    font-size: 12px;
}
.fillform{
    width: 100%;
    font-size: 30px;
    display: grid;
    gap: 20px;
}
.search{
    border-radius: 50px;
    font-size: 15px;
    height: 1cm;
    text-align: center;
    color: black;
    width: 10cm;
    padding: 10px;
}
.other-links{
    display: grid;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    width: 15%;
}
.section01{
    display: flex;
    padding: 10px;
    gap: 10px;
    top: 30px;
    width: 100%;
    text-decoration: none;
}
.section2{
    width: 95%;
    text-align: right;
    font-size: 30px;
    padding: 5px;
}
.section3{
    display: flex;
    bottom: 0cm;
}
.footer1{
    display: flex;
    gap: 200px;
}
footer{
    position: relative;
    bottom: 0cm;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
}