header{
    color: #0e94a0d0;
    height: 70px;
}

header nav ul li a {
    color: wheat;
    font-size: 18px;
}

.admin-wrapper{
    display: flex;
    height: calc(100% - 70px);
}

.admin-wrapper .admin-dashboard{
    flex: 2;
    height: 100%;
    background-color: rgb(156, 238, 231);
}

.admin-wrapper .admin-dashboard ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.admin-wrapper .admin-dashboard ul li a{
    display: block;
    padding: 18px;
    color: #000;
    font-size: 26px;
    /* text-align: center; */
    text-decoration: none;
    border-bottom: 1px solid #f2f2f2;
}

.admin-wrapper .admin-dashboard ul li a:hover{
    background-color: #f2f2f2;
    color: #000;
}

.admin-wrapper .admin-content{
    flex: 8;
    height: 100%;
    color: #f2f2f2;
    overflow-y: scroll;
}
